<section class="sales">
  <div class="container">
    <h1 class="primary-text-color pd-lr">ご購入の流れ</h1>
    <div class="row border-jp">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3">
            <%= image_tag("IMG_3139.JPG",:alt=>"まんじゅう",:class=>"img-responsive img-rounded image",:style=>"height:300px;object-fit:cover;")%>
          <p class="menu-content">
            -1:お好みの味を確認-<br>
            苦味、酸味、香りなど、<br>
            お客様が重視していることを伺い、<br>
            オススメ商品を選びます。
          </p>
        </div>
        <div class="col-sm-3 col-xs-offset-1 col-xs-10 col-sm-offset-0">
            <%= image_tag("P1010310.JPG",:alt=>"まんじゅう",:class=>"img-responsive img-rounded image",:style=>"object-fit:cover;")%>
          <p class="menu-content">
            -2:日替わり珈琲の試飲を提供-<br>
            日替わりでお出ししているお試し珈琲を提供しています。<br>
            珈琲の味をご確認ください。<br>
            豆のままか、または粉にするかを確認します
          </p>
        </div>
        <div class="col-sm-3 col-xs-offset-1 col-xs-10 col-sm-offset-0">
            <%= image_tag("P1010295.JPG",:alt=>"ドリップの器具を確認",:class=>"img-responsive img-rounded image",:style=>"object-fit:cover;")%>
          <p class="menu-content">
            -3:ドリップの器具を確認-<br>
            使用されている器具にあった<br>
            挽き方でコーヒー豆を<br>
            ミルで挽きます。
          </p>
        </div>
        <div class="col-sm-3 col-xs-offset-1 col-xs-10 col-sm-offset-0">
            <%= image_tag("gift.jpg",:alt=>"まんじゅう",:class=>"img-responsive img-rounded image",:style=>"object-fit:cover;")%>
          <p class="menu-content">
            -4:珈琲豆の袋詰め-<br>
            ガス抜き用クラフト袋に珈琲豆<br>
            または珈琲粉を入れます。<br>
            ※200gの場合:クラフト包装に包装<br>
            ※300g以上の場合:バルブに包装
          </p>
        </div>
      </div>
    </div>
</section>

<section class="how-to-buy">
  <div class="container">
    <div class="row">
      <h1 class="dark-primary-text-color wf-notosansjapanese text-left pd-tb pd-lr">ご自宅に届ける</h1>
      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 " style="padding-top:50px; padding-bottom:50px;" >
        <div class="text-left" style="">
          <p class="wf-notosansjapanese text-left secondary-text lead font-weght-200"  style="line-height:2.5em;padding-right:30px;">
            お店で販売している珈琲豆などをご自宅にお届けします。<br>
            <br>
            <br>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <h1 class="dark-primary-text-color wf-notosansjapanese text-left pd-tb pd-lr">ご注文の方法</h1>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6">
        <h3>1.お電話またはFAXにてご注文</h3>
        <p class="secondary-text font-weght-300 pd-tb">
          お電話でのご注文:0120-48-1567<br>
          FAXでのご注文　054-247-1567 <br>
          お電話でのご注文の際は、「ご希望商品、住所、電話番号、お名前」をお知らせください。<br>
          FAXでご注文の際は、下記のFAX専用注文書をご利用ください。 <br>
          ※FAXでご注文された場合、ご注文後4日経ってもお届け日お知らせの連絡が無いときは、何らかの事情でご注文が確認できていない可能性がありますので、恐れ入りますが、お電話にてもう一度ご注文ください。
        </p>
        <span><button type="button" class="btn btn-group-lg accent-color"><a class="text-primary-color" href="http://localhost:3000/contents/list"><object data="http://www.sugano-coffee.com/fax-order-sheet.pdf" type="application/pdf"  height="">◎FAX専用注文書ダウンロード(PDFファイル)</object></button></span>
      </div>
    </div>
  </div>
</section>

<!-- <p> -->

<!-- ２．ご注文確認後、珈琲豆を焙煎します。
ご注文確認後、生豆ををブレンドし、ご注文数量分だけ焙煎します。
↓
３．パッケージ後商品を発送します。
商品お届け日は、お電話またはFAXにてお知らせいたします。
（発送日から4日以内のお届け予定）
↓
４．商品到着時に商品代金をお支払いください（代金引換）。
商品代金は、商品到着時に運送会社のドライバーにお渡しください。

■数量の変更または注文のキャンセルについて
数量の変更やご注文のキャンセルは、ご注文当日の営業時間内（9：30～19：00）にお電話でご連絡ください。


■商品発送日について
午後4時までのご注文は翌々営業日に発送いたします。
午後4時以降のご注文は、翌営業日のご注文承りとし、3営業日以内に発送いたします。


■送料について

送料は、地域によって異なりますので、下記表でご確認ください。
※下記送料は税別価格です。別途消費税を頂戴いたします。
北海道
沖縄	北東北	南東北	北陸	信越	関東	中部	中国	四国	九州
青森
秋田
岩手	宮城
山形
福島	富山
石川
福井	新潟
長野	東京
神奈川
埼玉
千葉
茨城
栃木
群馬
山梨	静岡
愛知
三重
岐阜	広島
岡山
山口
鳥取
島根	香川
徳島
愛媛
高知	福岡
佐賀
熊本
大分
長崎
宮崎
鹿児島
1,160円	850円	740円	640円	640円	640円	640円	740円	850円	850円

■お支払いについて
お支払いは、代金引換にてお願いいたします。
お支払いいただくのは、商品代金、消費税、送料、代引き手数料をお支払いいただきます。
　
　代引き手数料：お買い上げ額が税込1万円未満　　　　　　　…324円
　　　　　　　　　　　お買い上げ額が税込1万円以上3万円未満…432円


そのほか、返品やお問合せ先については、下記ページでご確認ください。

　→　特定商取引法に関する表示


珈琲工房すがの　開店10周年


珈琲工房すがの　お店入り口


店主のすがのです。

店主の すがの です。
本格派コーヒーと自家製
ケーキでくつろぎの時間
をお過ごしください。



〒420-0865
静岡県静岡市葵区東草深町1-9
TEL/FAX：054-247-1567

営業時間：
平日　8：30～19：00
土日祝日　9：30～19：00
（定休日　月曜日）
</p> -->
