<header id="header" class="navbar-fixed-top-index" style="postion:;" >
  <div class="container-fluid"  id="gnav">
    <div class="row" style="">
      <!-- <div class=""> -->
      <a class="col-xs-12 col-sm-12 col-md-1" style="padding:10px 20px;" href="http://localhost:3000">
        <img class="" src="assets/brand_2.png" alt="珈琲工房すがの" style="height:58px;">
      </a>
      <!-- </div> -->
        <a class="col-md-3 primary-text-color hidden-xs hidden-sm" style="padding:25px 0px;left:30px;">珈琲工房すがの ―駿府公園すぐちかく</a>
        <ul class="wf-notosansjapanese font-weght-300 col-xs-12 col-sm-12 col-md-offset-2 col-md-6" style="list-style:none;padding: 15px 0;vertical-align:middle;">
          <li  class="col-md-3 kodawari">
            <a id="about-list" class="dark-primary-text-color" data-target="about-panel" href="http://localhost:3000/#about">
              コンセプト
            </a>
          </li>
          <li id="menu-list" class="col-md-3 menu">
            <a  class="primary-text-color font-weght-300" href="http://localhost:3000/menu">
              メニュー
            </a>
          </li>
          <li id="sales-list" class="col-md-3 sales">
            <a class="primary-text-color">
              通信販売
            </a>
          </li>
          <li id="access-list" class="col-md-3" >
            <a class="primary-text-color" href="http://localhost:3000/#access">
            アクセス
            </a>
          </li>
        </ul>
    </div>
    <!-- ナビゲーションしたのやつ-->
      <!-- <div id="about-panel" class="opened col-xs-12 col-sm-8 col-sm-offset-4" style="display:none;padding:30px;">
          <div class="col-xs-6 col-sm-6">
            <a class="text-primary-color" href="#about"><span>珈琲工房すがのについて</span></a>
          </div>
          <div class="col-xs-6 col-sm-6">
            <a class="text-primary-color" href="#about-2"><span>珈琲について</span></a>
          </div>
      </div> -->

      <div id="sales-panel" class="opened col-xs-12 hidden" style="padding:30px;">
          <div class="col-xs-6 col-sm-6">
            <a class="dark-primary-text-color" href="http://localhost:3000/list">珈琲豆リスト</a>
          </div>
          <div class="col-xs-6 col-sm-6">
            <a class="dark-primary-text-color"  href="http://localhost:3000/sales "><span>購入方法</span></a>
          </div>
      </div>
    <!-- </div> -->
  </div>
</header>
